# App
PORT=3000
NODE_ENV=development

# Database
DB_PATH=courier_integration.db
DB_LOGGING=false

# UrbaneBolt
URBANEBOLT_BASE_URL=URBANBOLT_BASE_URL
URBANEBOLT_USERNAME=your_username
URBANEBOLT_PASSWORD=your_password

# HTTP / Retry
HTTP_TIMEOUT=10000
RETRY_MAX_ATTEMPTS=3
RETRY_INITIAL_DELAY_MS=1000
